.main {
    display: flex;
    margin: 0;
    font-family: cursive;
}
h2{
    font-weight: 300;
 font-style: oblique;  
}
a{
    text-decoration: none;
    color: rgb(15, 51, 162);

}
.auth-form {
    width: 35%;
    margin-top: 3rem;
    padding-left: 50px;
    padding-right: 50px;
    text-align: start;
}

.other {
    width: 60%;
    height: 100vh;
    background-color: rgb(14, 32, 84);
}

.btn {
    width: 95%;
    padding: 10px;
    border: none;
    cursor: pointer;
    text-align: center;
    border-radius: 8px;
    color: white;
    background-color: rgb(15, 51, 162);
}
.btn a{
    color: white;
}
.btn:hover{
    background-color: rgb(25, 82, 182);
}

input {
    border:1px solid gray;
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 10px;
}
select{
    border:1px solid gray;
    width: 99%;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 10px;
}
.forgot-password{
    text-align: end;
    padding: 8px;
}
.next-of-kin{
    display: flex
    jus
}